@font-face {
    font-family: 'Digital-7 Mono';
    src: url('font/transfonter.org-20260522-012129/Digital-7Mono.woff2') format('woff2'),
        url('font/transfonter.org-20260522-012129/Digital-7Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #c5cdff;
    --background-color: #282a36;
    --secondary-color: #8991be;
}

body {
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    font-size: 18px;
}

#remove {
    display: flex;
}

#clear, #del {
    flex: 1 1 0;
}

main button {
    width: 90px;
    height: 90px;
    margin: 4px 1px;
    font-size: larger;
    border: 10px outset var(--secondary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;

}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px;
    width: 395px;
}

main, header {
    font-size: 2em;
}

#display {
    font-family: "Digital-7 mono", monospace;
    font-weight: 700;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-color);
    height: 70px;
    padding-left: 10px;
}

@media (width <= 500px) {
    main {
        width: 66%;
    }

    main, header {
        font-size: 1.5em;
    }

    main button {
        width: 60px;
        height: 60px;
        border: 7px outset var(--secondary-color);
    }
}

@media (width <= 376px) {
    main {
        width: 75%;
    }
}