main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 105px;
}

#display {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 20px;
    width: 150px;
    padding-left: 2px;
}